.canvas{
    -fx-background-color: white;
    -fx-background-insets: 0, 20;
    -fx-padding: 20;
}

.background{
    -fx-background-color: deepskyblue;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: blue;
}

.button{
    -fx-background-color: dodgerblue;
}

.button:focused{
    -fx-background-color: cornflowerblue;
}